@media screen and (min-width: 720px) {
  .ySES5 {
    height: 70px;
    width: 70px;
  }
}

.ySES5 {
  align-items: center;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 50%;
  display: flex;
  height: 60px;
  justify-content: center;
  width: 60px;
}

@media screen and (min-width: 720px) {
  .TcXXXb {
    font-size: 14px;
  }
}

.TcXXXb {
  color: rgba(0, 0, 0, 0.54);
  font-family: "Google Sans", "sans-serif";
  font-size: 13px;
  font-weight: 500;
  line-height: 18px;
  margin-top: 8px;
  -webkit-user-select: none;
}

.TcXXXb {
  color: rgba(0, 0, 0, 0.54);
  font-family: "Google Sans", "sans-serif";
  font-size: 13px;
  font-weight: 500;
  line-height: 18px;
  margin-top: 8px;
  -webkit-user-select: none;
}
